<div class="main">
  <app-navbar></app-navbar>
  <div class="container">
    <div class="welcome" *ngIf="router.url === '/'">
      <div class="bg-light">
        <div class="container py-5">
          <div class="row h-100 align-items-center py-5 welcomeText">
              <h1 class="display-4">Welcome to my blog!</h1>
              <img src="../assets/welcome.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>  
    </div>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
