<nav class="navbar navbar-light navbar-expand-md fixed-top">
    <div class="container-fluid">
      <div class="left-logo col">
      <a href="/" class="navbar-brand underline-header">
        <span>Johannes Felzmann</span>
      </a>
      <button class="navbar-toggler custom-toggler custom" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="right-items col">
      <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="nav navbar-nav ms-auto">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['news']">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['races']">Races</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['technics']">Nerd Stuff</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['about']">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['add-news']">Add Post</a>
        </li>
        </ul>
      </div>
    </div>
    </div>
  </nav>
  