@import "../../../colors.scss";
@import "../../../animations.scss";

.navbar {
  background-color: white;
}

.navbar-brand {
  color: $primary;
  font-weight: 900;
  font-style: italic;
  min-width: 100px;
}

.navbar-brand:hover {
  color: $primary-darker;
}

.navbar-toggler {
  border: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(193, 73, 83, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
