<div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">About this blog</h1>
          <p class="lead text-muted mb-0">My name is Johannes Felzmann and I am a computer science student at the technical university in vienna. 
            However besides my love for computer science, my heart also beats for triathlon. Therefore I combined both subjects and created this 
            blog where I want to give updates about my triathlon racing but also address some topics about computer science or sport science.</p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="../assets/about1.jpg" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  