$primary: #006494;
$primary-darker: darken($primary, 10%); //#D7431D;
$primary-lighter: lighten($primary, 10%);//#EE9781;
$primary-lighterer: lighten($primary-lighter, 23%);

$primary1: #0582CA;

$secondary: #006494;
$secondary-darker: darken($secondary, 10%);
$secondary-lighter: lighten($secondary, 10%);

$tertiary: #00A6FB;
$tertiary-darker: darken($tertiary, 10%);
$tertiary-lighter: lighten($tertiary, 10%);

$gray: #d9d9d9;
$gray-darker: darken($gray, 10%);
$gray-lighter: lighten($gray, 10%);

$cancelled: rgba(255,0,16,0.26);

