<div class="addPost">
    <form class="form" [formGroup]="addPostForm" (ngSubmit)="addPost()">
  
      <h3>Publish a new Post</h3>
  
  
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" formControlName="title" class="text-input form-control" id="title"
               placeholder="Enter Title">
        <div *ngIf="submitted && addPostForm.controls.title.errors" class="error">
          <small class="form-text text-danger" *ngIf="addPostForm.controls.title.errors.required">
            Title is required!
          </small>
          <small class="form-text text-danger" *ngIf="addPostForm.controls.title.errors.maxlength">
            Title cannot be more than 100 characters!
          </small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="text">Text</label>
        <textarea class="form-control" formControlName="text" id="text" rows="3" placeholder="Enter Text"></textarea>
        <div *ngIf="submitted && addPostForm.controls.text.errors" class="error">
          <small class="form-text text-danger" *ngIf="addPostForm.controls.text.errors.required">
            Text is required!
          </small>
          <small class="form-text text-danger" *ngIf="addPostForm.controls.text.errors.maxlength">
            Text cannot be more than 100000 characters!
          </small>
        </div>
      </div>

      <div class="form-group col">
        <div class="row">
          <label for="category">Category</label>
        </div>
        <div class="row">
          <select name="category" id="category" formControlName="category" class="select-input form-select"
            aria-describedby="categoryHelp">
            <option value="NEWS">News</option>
            <option value="RACE">Races</option>
            <option value="TECHNIC">Technic</option>
          </select>
          </div>
        <div *ngIf="submitted && addPostForm.controls.role.errors" class="error">
          <small class="form-text text-danger" *ngIf="addPostForm.controls.role.errors.required">A Category is
            required!
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" name="author" formControlName="author" class="text-input form-control" id="author"
               placeholder="Enter Author">
        <div *ngIf="submitted && addPostForm.controls.title.errors" class="error">
          <small class="form-text text-danger" *ngIf="addPostForm.controls.title.errors.required">
            Author is required!
          </small>
          <small class="form-text text-danger" *ngIf="addPostForm.controls.title.errors.maxlength">
            Author cannot be more than 100 characters!
          </small>
        </div>
      </div>
  
      <div class="form-group">
        <label id="fileLabel" for="files">Picture Upload</label>
        <p id="file-info">Supported formats: jpg, jpeg, png. The maximum file size is 1MB.</p>
        <input formControlName="files" lang="en" id="files" type="file" class="form-control" (change)="onFileChange($event)">
        <div *ngIf="fileNoImage" class="alert alert-danger">
          <div>The uploaded file is no image</div>
        </div>
        <div *ngIf="tooManyFiles" class="alert alert-danger">
          <div>Max. 10 images per news</div>
        </div>
        <div *ngIf="fileTooBig" class="alert alert-danger">
          <div>File must be smaller than 1MB</div>
        </div>
      </div>
  
      <div *ngIf="files.length > 0">
        <table class="table">
          <thead>
          <th scope="col">Name</th>
          <th scope="col" style="width: 5%"></th>
          </thead>
          <tbody>
          <tr *ngFor="let image of files; let i = index">
            <td>{{image.name}}</td>
            <td><button type="button" class="secondary deleteButton" style="width: 100%" (click)="removeImage(i)">X</button></td>
          </tr>
          </tbody>
        </table>
      </div>
  
      <!--<div class="form-group">
        <label for="author">Author</label>
        <input type="text" name="author" formControlName="author" class="text-input form-control" id="author"
               placeholder="Enter Name">
        <div *ngIf="submitted && addNewsForm.controls.author.errors" class="error">
          <small class="form-text text-danger" *ngIf="addPostForm.controls.author.errors.required">
            Author is required!
          </small>
          <small class="form-text text-danger" *ngIf="addPostForm.controls.author.errors.maxlength">
            Author name cannot be more than 100 characters!
          </small>
        </div>
      </div>-->
  
      <button class="primary" type="button" (click)="addPost()" id="publish">Publish</button>
  
      <div *ngIf="error" class="col-12 alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error! </strong> {{ errorMessage }}
        <button type="button" (click)="vanishAlert()" class="btn-close" data-dismiss="alert" aria-label="Close">
        </button>
      </div>
      <div *ngIf="success" class="col-12 alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success</strong> The article has been successfully published. Redirect in 3...
        <button type="button" (click)="vanishAlert()" class="btn-close" data-dismiss="alert" aria-label="Close">
        </button>
      </div>
    </form>
  </div>
  